# Typles
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.

#### Tuples Creation

In [1]:
t1 = (1, 2, 3, 4, 5)   #tuple of integers
t1 = 1, 2, 3, 4, 5
print("t1: ", t1)

t2 = (2.3, 5.6, 1.8)  #tuple of floats
print("t2: ", t2)

t3 = ('hello', 'this', 'F', 'good show') #tuple of strings
print("t3: ", t3)

t4 = (True, False, True)    # tuple of boolean values
print("t4: ", t4)

print(len(t4))
print("Type of t4 is: ", type(t4))

t1:  (1, 2, 3, 4, 5)
t2:  (2.3, 5.6, 1.8)
t3:  ('hello', 'this', 'F', 'good show')
t4:  (True, False, True)
3
Type of t4 is:  <class 'tuple'>

In [7]:
# creating empty tuple
t5 = ()
print("t5: ", t5)



# to create a tuple with only one element is a bit tricky
t6 = (25,)       # note the comma, without it, Python will take it as int/float/string and not tuple
print("\nt6: ", t6)
print(type(t6))




# without comma, t7 is considered as int
t7 = (25)
print(type(t7))



# Nested tuple: A tuple can also have another tuple, or list as an item
# t1 proves the concept of heterogenous
t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
print("t1: ", t1)
print("Type of t1 is: ", type(t1))

t5:  ()

t6:  (25,)
<class 'tuple'>
<class 'int'>
t1:  (1, 'Hello', [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
Type of t1 is:  <class 'tuple'>

#### Tuples are ordered
- Like Lists Tuples are ordered.
- Tuples are ordered means every element is associated by an index.
- Every time you access tuple elements they will show up in same sequence. 
- Moreover, two tuples having same elements in different order are not same.

In [11]:
a = (1, 2, 3)
c = (1, 2, 3)
b = (2, 3, 1)

print(id(a))
print(id(b))
print(id(c))

print(a is b)
print(a == b)

print(a is c)
print(a == c)

1803176852224
1803177089152
1803177083008
False
False
False
True

#### Tuples are immutables

In [13]:
# Tuples are immutable, i.e., tuple elements cannot be changed
numbers = (10, 20, 30)
numbers[2] = 15    # this will generate an error

# Tupple however can be reassigned
numbers = (10, 20, 30)
numbers = (1, 2, 3)  # A tupple can be reassigned
numbers

TypeError: 'tuple' object does not support item assignment

- tuple object `(10,20,20)` in memory has become an orphan, since the numbers variable is now pointing to another tuple object `(1,2,3)` in memory. The unreferenced tuple object will be garbage collected by Python garbage collector

In [14]:
# A List within a tuple is still mutable
# t1 = (1, "Hello", [8, 'OK', 6], (1, 2, 'BYE'), 5.5)
tuple1 = (1,2,3,['a', 'b', 'c', 'd'], ('i', 'ii', 'iii'))
tuple1[3][1] = 'Not OK'         # will work fine
print(tuple1)

(1, 2, 3, ['a', 'Not OK', 'c', 'd'], ('i', 'ii', 'iii'))

In [17]:
# Like Lists, Tuples allow duplicate elements
names = ('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')
print(names)


# A tuple having two sub-tuples within it
a = (1,2,3,(4,5),(6,7,8,9),10,11)
# A tuple having a sub-tuple, which is further having a sub-tuple and that again having a subtuple
# b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
b = (1,2,3,(4,5,(6,7,8,(9,10,11))))
print(a, b, sep='\n')

('Arif', 'Rauf', 'Hadeed', 'Arif', 'Mujahid')
(1, 2, 3, (4, 5), (6, 7, 8, 9), 10, 11)
(1, 2, 3, (4, 5, (6, 7, 8, (9, 10, 11))))

#### Packing and Unpacking Tuples

In [26]:
# you can unpack tuple elements
t1 = ('iqbal', 'hira school', 'tameer nao', 'UET', 'PUCIT')
name, school, academy, underGraduateUni, graduateUni = t1 # the number of variables on the left must match the length of tuple
print (name, school, academy)
print(type(graduateUni))

t2 = (name, school, academy, underGraduateUni, graduateUni)
l2 = list(t2)
print("Type of l2", type(l2))
print("Type of T2", type(t2))
print("Hi! {}, Your school is {}, your accademy is {}, your under graduate uni is {}, and your graduate uni is {}".format(name, school, academy, underGraduateUni, graduateUni))


# convert a string into tuple using tuple()
str1 = 'Learning is fun'    #this is a string
print("Original string: ", str1, "and its type is:  ", type(str1))
t1 = tuple(str1)
print("t1: ", t1, "and its type is:  ", type(t1))

iqbal hira school tameer nao
<class 'str'>
Type of l2 <class 'list'>
Type of T2 <class 'tuple'>
Hi! iqbal, Your school is hira school, your accademy is tameer nao, your under graduate uni is UET, and your graduate uni is PUCIT

#### Different ways to access Elements of a Tuple
- Since Tuple like List is of type Sequence, and any component within a sequence can be accessed by entrying an index within square brackets. So naturally this must work for Tuple as well
- Similarly, if we want to find out the index of a specific item/character, we can use the `index()` method of Tuple class

In [31]:
#You can access elements of tuple using indexing which starts from zero
t1 = ("Arif", 30, 5.5, (10,'rauf'))

print(t1[2])       #accessing element of tuple at index2
print(t1[3])       #accessing element of tuple at index3, which is again a tuple

#accessing Nested tuple element
print(t1[0][2])              #accessing third character of a tuple element at index 0
print(t1[3][1])              #accessing second element of Nested tuple at index 3


#Negative indexing starts looking at the tuple from the right hand side
t1 = ("Arif", 30, 5.5, (10,'rauf'))
print(t1[-1])                #accessing last element
print(t1[-2])                #accessing second last element


# index(value) method is used when you know the tuple element and wants to get its index
# index(value) method returns the index of the first matched item with its only argument
mytuple = (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
print("\nmytuple: ", mytuple)
print(mytuple.index(27))
print(mytuple.index('hadeed'))
print("mytuple.index(3): ", mytuple.index('arif'))

5.5
(10, 'rauf')
i
rauf
(10, 'rauf')
5.5

mytuple:  (27, 4.5, 'arif', 64, 'hadeed', 19, 'arif')
0
4
mytuple.index(3):  2

#### Slicing Tuples
- Like anyother sequence object we can perform slicing with tuples as well.
- Slicing is the process of obtaining a portion of a tuple by using its indices.
- Given a tuple, we can use the following template to slice it and obtain a sublist:
```
mytuple[start:end:step]
```

- **start** is the index from where we want the subtuple to start.If start is not provided, slicing starts from the beginning.
- **end** is the index where we want our subtuple to end (not inclusive in the subtuple). If end is not provided, slicing goes till the last element of the tuple.
- **step** is the step through which we want to skip elements in the tuple. The default step is 1, so we iterate through every element of the tuple.

In [36]:
t1 = ('a','b','c','d','e','f','g','h','i')
t1
print(t1[4:8:1])


# Reverse slicing
print(t1[::-1])
# Take 1 step back each time
print(t1[5:1:-1]) 
# Take 1 step back each time
#if start is less than end in case of a negative step, it will return empty string
print(t1[2:10:-1])
print(t1[-1:-7:-2]) # Take 2 steps back

('e', 'f', 'g', 'h')
('i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a')
('f', 'e', 'd', 'c')
()
('i', 'g', 'e')

#### Concatenating Tuples
- The `+` operator is used to concatenate two or more tuples

In [40]:
tuple2 = (1,2,3,4)
tuple3 = (3,4,5,6)+tuple2
print(tuple3)


tuple4 = (0,)+tuple3
print(tuple4)


# use + operator to concatenate two tuples
food_items1 = ('fruits', 'bread', 'veggies')
food_items2 = ('meat', 'spices', 'burger')
food = food_items1 + food_items2
print(food)


num1 = (1,2,3)
num2 = num1 + (4, 5, 6, (7, 8, (8, 9, 10, (11,12,13,14))))
print (num2)

(3, 4, 5, 6, 1, 2, 3, 4)
(0, 3, 4, 5, 6, 1, 2, 3, 4)
('fruits', 'bread', 'veggies', 'meat', 'spices', 'burger')
(1, 2, 3, 4, 5, 6, (7, 8, (8, 9, 10, (11, 12, 13, 14))))

#### Replicating Tuples
- The `*` operator is used to repeat or replicate

In [44]:
print(num1)
num2 = num1*5
print(num2)


print(food_items1)
print(food_items1*4)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)
('fruits', 'bread', 'veggies')
('fruits', 'bread', 'veggies', 'fruits', 'bread', 'veggies', 'fruits', 'bread', 'veggies', 'fruits', 'bread', 'veggies')

#### Being immutable, you cannot add elements to a tuple 
- In list, this is possible using `append`, `extend`, and `insert`

In [45]:
myfamily = ("Farooq", 'Rauf', 'Hadeed')
print("\n myfamily tuple: ", myfamily)
myfamily.insert(2,'Arif') # will generate an error as tuple object has no attribute 'insert'

 myfamily tuple:  ('Farooq', 'Rauf', 'Hadeed')

AttributeError: 'tuple' object has no attribute 'insert'

## Being immutable, you cannot remove elements from a tuple 
- In list, this is possible using `pop` and `remove` methods

In [46]:
tuple1 = ('learning', 'is', 'fun', 'with', 'arif', 'butt')

#You cannot delete items from a tuple using del keyword
#del tuple1[3]    # will generate an error as tuple object doesn't support item deletion

# However, you can assign a new tuple object to the reference tuple1
tuple1 = (1, 2, 3, 'arif')
# However, you can delete an entire tuple object using del keyword
#del tuple1
#print(tuple1)

#### Use `str.split()` to Split a Tuple into Strings

In [55]:
tuple1 = ('learning', 'is', 'fun', 'with', 'arif', 'butt')
str2 = "Hy! my name is muhammad iqbal"
tuple5 = tuple(str2.split("i"))
tuple6 = str2.split()
print(tuple5)
print(tuple6)

('Hy! my name ', 's muhammad ', 'qbal')
['Hy!', 'my', 'name', 'is', 'muhammad', 'iqbal']

#### Use `str.join()` to Join Strings into a Tuple

In [64]:
t1 = ('This', 'is', 'getting', 'more', 'and', 'more', 'interesting')
print(len(t1))
# length method is used to find total number of elements in a tuples

print(t1.count('is'))
# The `t1.count(val)` method takes exactly one argument and returns the number of times a that value occurs in a tuple

str2 = ' '.join(t1)
str2, type(str2)

delimiter = " # "
str3 = delimiter.join(t1)
print(str3)
print(type(str3))

7
1
This # is # getting # more # and # more # interesting
<class 'str'>

In [70]:
t1 = (3, 8, 1, 6, 0, 8, 9, 4)
print("length of tuple: ", len(t1))
print("max element in tuple: ", max(t1))
print("min element in tuple: ",min(t1))
print("Sum of element in tuple: ",sum(t1))
print("occurance of 0 in tuple: ",t1.count(0))
print("index of 6 in tuple: ",t1.index(0))

length of tuple:  8
max element in tuple:  9
min element in tuple:  0
Sum of element in tuple:  39
occurance of 0 in tuple:  1
index of 6 in tuple:  4

In [69]:
t1 = [3, 8, 1, 0, 6, 0, 8, 9, 4]
print("length of list: ", len(t1))
print("max element in list: ", max(t1))
print("min element in list: ",min(t1))
print("Sum of element in list: ",sum(t1))
print("occurance of 0 in list: ",t1.count(0))
print("index of 6 in list: ",t1.index(0))

length of list:  9
max element in list:  9
min element in list:  0
Sum of element in list:  39
occurance of 0 in list:  2
index of 6 in list:  3

***Like Lists, you can apply `in` and `not in` membership operators on Tuples***

In [71]:
t1 = (3, 8, 1, 6, 0, 8, 4)
rv1 = 9 in t1
print(rv1)

rv2 = 9 not in t1
print(rv2)


t2 = ("XYZ", "ABC", "MNO", "ARIF")
rv3 = "ARIF" in t2
print(rv3)

False
True
True

***Comparing Objects and Values***

In [75]:
#In case of tuples, both t1 and t2 refers to two different objects in the memory having same values
t1 = (1, 2, 3)
t2 = (1, 2, 3)
t3 = (2,1,3)
print(id(t1), id(t2))

print (t1 is t2)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t2)   # == operator is checking the contents of two tuples element by element
print (t1 is t3)   # is operator is checking the memory address (ID) of two tuples
print (t1 == t3)   # == operator is checking the contents of two tuples element by element

1803205685760 1803206572608
False
True
False
False

#### Sorting a Tuple
- Python’s built-in `sorted()` function can be used to sort iterable objects, such as lists, tuples, and dictionaries. 
- The `sorted()` function sorts the items of the specified iterable object and creates a new object with the newly sorted values.
- It's syntax is as shown below:
```
    sorted(object, key=None, reverse=False)
```
- Where:
    - `object`: the iterable object that you want to sort (required)
    - `key`: the function that allows you to perform custom sort operations (optional)
    - `reverse`: specifies whether the object should be sorted in descending order (optional)- default value is False

In [80]:
# Sorting a Dictionary by it values with numeric values

t1 = (3, 8, 1, 6, 0, 8, 4)

print("Original Tuple = ", t1)
t2 = sorted(t1)
t3 = sorted(t1,  reverse=True)
# list1 = sorted(t1)
# list2 = sorted(t1, reverse=True)

print("Ascending Sort: ", t2)
print("Descending Sort: ", t3)

Original Tuple =  (3, 8, 1, 6, 0, 8, 4)
Ascending Sort:  [0, 1, 3, 4, 6, 8, 8]
Descending Sort:  [8, 8, 6, 4, 3, 1, 0]
Original Tuple:  ('XYZ', 'ABCD', 'MNOPQ', 'ARIFSCV')
Ascending Sort:  ['ABCD', 'ARIFSCV', 'MNOPQ', 'XYZ']
Descending Sort:  ['ARIFSCV', 'MNOPQ', 'ABCD', 'XYZ']

In [82]:

# Sorting a tuple with string values

t1 = ("XYZ", "ABCD", "MNOPQ", "ARIFSCV")
print("Original Tuple: ", t1)

list1 = sorted(t1)
list2 = sorted(t1, key=len, reverse=False)

print("Ascending Sort: ", list1)
print("Descending Sort: ", list2)

Original Tuple:  ('XYZ', 'ABCD', 'MNOPQ', 'ARIFSCV')
Ascending Sort:  ['ABCD', 'ARIFSCV', 'MNOPQ', 'XYZ']
Descending Sort:  ['XYZ', 'ABCD', 'MNOPQ', 'ARIFSCV']

In [83]:
def last(s):
    return s[-1]

t1 = ('abcz', 'xyza', 'bas', 'arif')
rv = sorted(t1, key=last)
print(rv)
print(t1)

['xyza', 'arif', 'bas', 'abcz']
('abcz', 'xyza', 'bas', 'arif')